.table-container {
    width: 100%;
    padding: 2em;
    margin: auto;
    background-color: #fff;
    display: block;
}

table {
    width: 100%;
    margin-top: 1em;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1em;
}

th {
    padding: .5em 1em;
    background-color: #ccc;
}

td {
    padding: .5em 1em;
    background-color: rgb(240, 167, 58);
}

button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    margin-left: 1em;
    color: #fff;
}

.edit {
    background-color: blue;
}

.hapus {
    background-color: red;
}

.add {
    background-color: green;
    margin-left: auto;
    display: block;
}

.btns {
    width: 100%;
    text-align: right;
}

.save {
    background-color: green;
    margin-top: 2em;
}

.cancel {
    background-color: red;
    margin-top: 2em;
}

form {
    width: 50%;
    display: block;
    margin: 2em auto;
    padding: 1em 2em 2em 2em;
    border: 2px solid #333;
    border-radius: 1em;
}

form h2 {
    text-align: center;
}

.formel {
    margin-top: 1em;
    width: 100%;
    display: flex;
}

.formel label {
    width: 30%;
}

.formel input {
    margin-left: 1.5em;
    width: 70%;
    height: 2em;
}