table{
    border:1px solid black;
    margin:0px auto;
    background: beige;
}
th{
    background: grey;
}
td{
    background: salmon;
    width:200px;
    padding-left:10px;
}
td{
    text-align: left;
}
