.table{
    width: auto;
    font-family: 'Times New Roman', Times, serif;
  }
  
  h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  
  table{
    width: 50%;
    border: 1px solid black;
    margin:auto;
  }
  
  th{
    background-color: rgb(170, 170, 170);
    border: 0px solid white;
  }
  
  td{
    background-color: rgb(255, 127, 80);
    border: 0px solid white;
  }

.form{
    width: auto;
    margin: auto;
    text-align: center;
}

input{
    margin-right: 10px;
    margin-left: 10px;
}